body {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 1.5rem;
  	padding-bottom: 1.5rem;
}

.header {
	width: 100%;
	height: 90vh;
	background-image: url("images/heading-banner.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-bottom: .05rem solid #e5e5e5;
	
}

.border-box {
	border-color: #01a89b;
	border-width: 2px;
	border-radius: rounded;
	border-style: solid;
	padding: 5px 5px;
	
}

h1, h2, h3, h4, h5, h6 {
	color: #01a89b;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p, ul, li {
	color: #757575;
	font-family: 'Roboto', sans-serif;
}

.allSides {
	border: solid 1px #01a89b;
	/* background-color: #01a89b;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.tableauPlaceholder {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
}

.footer p:last-child {
  margin-bottom: 0;
}

.sketchy {
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}